
.container {
  display: 'flex';
  flex-flow: 'column nowrap';
  align-items: 'stretch';
  height: min-content;
  width: 500px;
};
.header 
{
  flex: '1 1 auto';
  border-top: 4px solid #026D70;
  color: #026D70;
  display: 'flex';
  align-items: 'center';
  font-weight: 'bold';
  padding: 12px 12px 14px 24px;
}
.heading {
  color: #026D70;
  font-weight: 500;
  font-size: 'inherit';
  margin: 0;
};
.body {
  padding: 0px 24px 24px 24px;
  overflow-y: 'hidden';
  p{
    margin: 0px;
  }
  h3{
    margin: 0px;
  }
}